In [1]:
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
import os

api_key = os.getenv('PP_API_KEY')
print(api_key)

8bf0fafd-b557-45a6-91eb-e0255318d048

In [3]:
import requests
endpoint = 'https://permapeople.org/api/plants'
params = {
'x-permapeople-key-id': 'EUnQrVlZ5Jl7',
'x-permapeople-key-secret': api_key}

In [4]:
response = requests.get(endpoint, headers = params)

In [5]:
response

In [6]:
import json
res = response.json()

In [43]:
import pandas as pd
res_df['data']

0     [{'key': 'USDA Hardiness zone', 'value': '2-11...
1     [{'key': 'USDA Hardiness zone', 'value': '3-9'...
2     [{'key': 'Life cycle', 'value': 'Annual'}, {'k...
3     [{'key': 'USDA Hardiness zone', 'value': '4-9'...
4     [{'key': 'USDA Hardiness zone', 'value': '2-11...
                            ...
95    [{'key': 'Wikipedia', 'value': 'https://en.wik...
96    [{'key': 'USDA Hardiness zone', 'value': '3-8'...
97    [{'key': 'Wikipedia', 'value': 'https://en.wik...
98    [{'key': 'USDA Hardiness zone', 'value': '3-9'...
99    [{'key': 'USDA Hardiness zone', 'value': '5-9'...
Name: data, Length: 100, dtype: object

In [37]:
res_df = pd.json_normalize(res['plants'])
res_df['new_data'] = "[{'name': '" + res_df['name'] + "', " + res_df['data'].astype(str).str.replace('[{','')
res_df['new_data']

0     [{'name': 'Squash', 'key': 'USDA Hardiness zon...
1     [{'name': 'Pea', 'key': 'USDA Hardiness zone',...
2     [{'name': 'Cucamelon', 'key': 'Life cycle', 'v...
3     [{'name': 'Red mulberry', 'key': 'USDA Hardine...
4     [{'name': 'Common bean', 'key': 'USDA Hardines...
                            ...
95    [{'name': 'Osage orange', 'key': 'Wikipedia', ...
96    [{'name': 'Apple', 'key': 'USDA Hardiness zone...
97    [{'name': 'Medlar', 'key': 'Wikipedia', 'value...
98    [{'name': 'White mulberry', 'key': 'USDA Hardi...
99    [{'name': 'Black mulberry', 'key': 'USDA Hardi...
Name: new_data, Length: 100, dtype: object

In [41]:
pd.json_normalize(res_df.explode('new_data')['new_data']).head(44)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43]